.container {
  width: 100%;
  height: 70px;
  padding-left: 30px;
  background-color: #222222;
  color: white;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr repeat(4, 90px);
    grid-template-rows: 1fr;
  }
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr repeat(3, 90px);
    grid-template-rows: 1fr;
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    line-height: 50px;
    background-color: #222222;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
  }
  span {
    height: 15px;
    font-size: 15px;
    font-weight: bold;
  }
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #222222;
  }
}
.item:hover {
  background-color: #333333;
}

.search {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #222222;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.search:hover {
  background-color: #333333;
}
