.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  ul {
    display: flex;
    gap: 10px;
  }
  li {
    width: 50px;
    height: 50px;
    border-radius: 25%;
  }
}

.dots {
  
}

.current {
  background-color: #222222;
  border: solid #222222;
  color: white;
}

.other {
  background-color: white;
  border: solid #222222;
}
.other:hover {
  background-color: lightgray;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
