.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
  height: max-content;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.description {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
