.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
}

.category {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100vh;
  background-color: #fcd997;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.tag {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100vh;
  background-color: lightblue;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
